.nav-bar{
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}
.header-logo{
    width: 150px;
}
.nav-links{
    align-items: center;
}
.btn-logout{
    background-color: white;
    width: 100%;
    border: none;
}
.user-logout{
    padding: 0 20px;
    border-bottom: 2px solid black;
    margin-left: 20px;
}